.transfadein {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
  

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    font-size: 30px;
    font-family: "Hubballi", sans-serif;
    padding: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.777);
  }
  

#header-link {
    text-decoration: none;
    color: black;
}

#module {
    background-color: transparent !important;
}


#content-container {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
  }
  
  nav button:hover {
    color: #555;
  }
  

/* Add styles for the loading screen and progress bar */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s;
    z-index: 2;
}

/* #loading-screen canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  } */


#drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: crosshair;
}


#loading-text {
    font-family: "Hubballi", sans-serif;
}

#job-title.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#job-title.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#progress-container {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(255, 0, 0);
    width: 0%;
    transition: width 2s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* add box shadow with blur */
}

/* Mobile layout */
@media (max-width: 768px) {
    /* header {
        font-size: 8vw;
    } */

    /* Add more styles for smaller screens if needed */
}