.transfadein {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

/* Normal state */
a {
    color: #000000;
    text-decoration: und;
}

/* Hover state */
a:hover {
    color: #ff3366;
    text-decoration: underline;
}

/* Active state */
a:active {
    color: #ff9900;
    text-decoration: underline;
}

/* Visited state */
a:visited {
    color: #000000;
    text-decoration: none;
}

body {
    font-family: 'New Tegomin', serif;
}

header {
    position: fixed;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    z-index: 3;
    background: linear-gradient(to bottom, #ffffff 65%, rgba(194, 194, 194, 0));
}

header button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-family: 'New Tegomin', serif;
    cursor: pointer;
    margin-top: -30px;
    padding-bottom: 30px;
    outline: none;
}

header button:hover {
    color: rgb(255, 0, 0);
}

#module {
    background-color: transparent !important;
    z-index: -2;
}

#content-container {
    z-index: 1;
    opacity: 1;
    transition: opacity 1s;
    padding-bottom: 35vh;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/****** Nav Bar ******/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, #ffffff 85%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

nav button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    font-size: 16px;
    font-family: 'New Tegomin', serif;
    /* padding-top: 10px; */
    /* padding-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    cursor: pointer;
    color: #000000;
}

nav button:hover {
    color: rgb(146, 0, 0);
}

nav a {
    margin: auto;
}

#bgMedia {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url('./public/images/navBG.gif');
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    background-position: center 60px;
    background-size: 100% 100%;
    pointer-events: none;
}

/****** Loading Screens ******/
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s;
    z-index: 2;
}

#drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: crosshair;
}

#loading-text {
    font-family: 'New Tegomin', serif;
}

#job-title.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#job-title.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#progress-container {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(255, 0, 0);
    width: 0%;
    transition: width 2s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* add box shadow with blur */
}

/****** Homo Ludens info ******/
#homo-ludens-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
    z-index: 1;
    transition: 0.8s;
    margin-left: 50%;
    margin-top: 10%;
}

#homo-ludens-info p {
    font-family: 'New Tegomin', serif;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#homo-ludens-info ol {
    font-family: 'New Tegomin', serif;
    line-height: 1.5;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
}

#homo-ludens-info ol p {
    font-size: 20px;
    text-align: center;
    margin-right: 40px;
    margin-left: 0px;
    background-color: #f9f9f9;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.142);

}

#homo-ludens-info button {
    font-family: 'New Tegomin', serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    background-color: #f9f9f9;
    cursor: pointer !important;
    z-index: 1;
}

/****** About Xiao info ******/
#about-xiao-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
    z-index: 1;
    margin: 5%;
    margin-top: 100px;
    transition: 0.8s;
}

.rpg-bio {
    font-family: 'New Tegomin', serif;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


#about-xiao-info p {
    font-family: 'New Tegomin', serif;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    width: 30vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#about-xiao-info ol {
    font-family: 'New Tegomin', serif;
    line-height: 1.5;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
}

#about-xiao-info ol p {
    font-size: 20px;
    text-align: center;
    margin-right: 40px;
    margin-left: 0px;
    background-color: #f9f9f9;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.142);

}

/* #about-xiao-info button {
    font-family: 'New Tegomin', serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    background-color: #f9f9f9;
    cursor: pointer !important;
    z-index: 1;
} */

/****** Become Homo Ludens grid ******/
#bhl-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5%;
    padding-top: 2%;
    margin: 5%;
}

#bhl-div p {
    font-family: 'New Tegomin', serif;
    font-size: 14px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#bhl-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#media-container {
    font-family: 'New Tegomin', serif;
    font-size: 14px;
    text-align: left;
    padding: 20px;
    margin-top: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#bhl-div img {
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    margin-top: 15px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #400000;
}

#bhl-div video {
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    margin-top: 15px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #400000;
}

#about-xiao-info video {
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    margin-top: 15px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #400000;
}

#bhl-div iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 300px;
    margin-top: 15px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #400000;
}

#media-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#media-container p {
    font-size: 16px;
    text-align: left;
}

/******* Articles Grid *******/
#xab-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5%;
    padding-top: 2%;
    margin: 5%;
}

#xab-left {
    display: fixed;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* height: 100%; */
}

#xab-right {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    font-family: 'New Tegomin', serif;
    margin: auto;
    width: 90%;
    /* height: 80%; */
    font-family: 'New Tegomin', serif;
    text-align: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    opacity: 1;
    transition: .5s;
}

#xab-div button {
    font-family: 'New Tegomin', serif;
    font-size: 4vh;
    margin: auto;
    margin-bottom: 5%;
    width: 100%;
    height: 22vh;
    font-family: 'New Tegomin', serif;
    text-align: center;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer !important;
}

#xab-left button span {
    font-size: 1.5vh;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.blog-block {
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10%;
    text-align: left;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.5);
    background-color: #f9f9f9;
    border: 3px solid #ccc;
    opacity: 0;
    transition: 1s;
}

.blog-keyword {
    font-size: 1.5vh;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.blog-image {
    display: flex;
    margin: auto;
    padding-top: 20px;
}

/****** Footer ******/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    font-size: xx-small;
}

/* Back to top button styles */
#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: none;
    border-radius: 50%;
    z-index: 1000;
}

#back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/****** Mobile layout ******/
@media (max-width: 768px) {


    /* Homo ludens Info modeil  */
    #homo-ludens-info {
        display: flex;
        position: relative;
        max-width: 600px;
        z-index: 2;
        transition: 0.8s;
        margin-left: 40%;
        margin-top: 80px;
    }

    #homo-ludens-info p {
        font-family: 'New Tegomin', serif;
        font-size: 14px;
        text-align: left;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    #homo-ludens-info ol {
        font-family: 'New Tegomin', serif;
        line-height: 1.5;
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;

        display: flex;
        flex-direction: column;
    }

    #homo-ludens-info ol p {
        font-size: 16px;
        text-align: center;
        margin-right: 40px;
        margin-left: 0px;
    }

    #homo-ludens-info {
        display: flex;
        position: relative;
        max-width: 600px;
        z-index: 2;
        transition: 0.8s;
        margin-left: 40%;
        margin-top: 80px;
    }

    #homo-ludens-info p {
        font-family: 'New Tegomin', serif;
        font-size: 14px;
        text-align: left;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    #homo-ludens-info ol {
        font-family: 'New Tegomin', serif;
        line-height: 1.5;
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;

        display: flex;
        flex-direction: column;
    }

    #homo-ludens-info ol p {
        font-size: 16px;
        text-align: center;
        margin-right: 40px;
        margin-left: 0px;
    }

    #bgMedia {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        z-index: -1;
        background-image: url('./public/images/navBG.gif');
        background-repeat: no-repeat;
        /* background-repeat: repeat-x; */
        background-position: center 100px;
        background-size: 100vw 30vh;
    }

    #homo-ludens-info button {
        font-family: 'New Tegomin', serif;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(255, 255, 255);
        background-color: #f9f9f9;
        cursor: pointer !important;
        z-index: 1;
    }

    #bhl-div {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        margin: 5%;
        padding-top: 10%;
    }

    #xab-div {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 80px;
        /* justify-items: center;
        align-items: center; */
    }

    #xab-left {
        display: flex;
        flex-direction: row;
    }

    #xab-div button {
        position: relative;
        font-size: 2vh;
        width: 30%;
        height: 15vh;
        padding: 1vh;
    }

    #xab-left button span {
        font-size: 1vh;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    #xab-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'New Tegomin', serif;
        margin: auto;
        width: 80%;
        height: 95%;
        font-family: 'New Tegomin', serif;
        font-size: 2vh;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    .rpg-bio {
        font-family: 'New Tegomin', serif;
        font-size: 20px;
        text-align: left;
        padding: 20px;
        padding-top: 0px;
        width: 150px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        transition: .5s;
    }

    .rpg-bio h3 {
        font-size: 1.8vh;
    }

    #about-xiao-info p {
        font-family: 'New Tegomin', serif;
        font-size: 13px;
        text-align: left;
        padding: 20px;
        width: 80vw;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    .blog-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        opacity: 1;
        transition: 1s;
    }

}