.transfadein {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}


header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    z-index: 1;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-family: 'New Tegomin', serif;
    cursor: pointer;
    outline: none;
}

header button:hover {
    color: rgb(255, 0, 0);
}


/* #header-link {
    text-decoration: none;
    color: black;
} */

#module {
    background-color: transparent !important;
}


#content-container {
    /* position: absolute; */
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: url('./public/images/navBackground.gif');
    z-index: 10;
}

nav button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16px;
    font-family: 'New Tegomin', serif;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    outline: none;
    color: #000000;
}

nav button:hover {
    color: rgb(146, 0, 0);
}

/* Add styles for the loading screen and progress bar */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s;
    z-index: 2;
}

#drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: crosshair;
}

#loading-text {
    font-family: 'New Tegomin', serif;
}

#job-title.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#job-title.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#progress-container {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(255, 0, 0);
    width: 0%;
    transition: width 2s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* add box shadow with blur */
}

#homo-ludens-info {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


/* Mobile layout */
@media (max-width: 768px) {
    /* header {
        font-size: 8vw;
    } */

    /* Add more styles for smaller screens if needed */
}