html {
    scroll-behavior: smooth;
  }  

/* Body */
body {
  font-family: 'Outfit', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
  }

header {
    height: 10%;
  }

  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    height: 20%;
    overflow-y: auto; /* Add this line */
    background-color: rgb(255, 255, 255);
    border-style:outset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  }
  
  /* Navigation */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 1rem;
    transition: background-color 0.5s;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 1rem;
  }
  
  .nav-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
  }

  .nav-links a:hover {
    background: -webkit-linear-gradient(45deg, #ff7fdd, rgb(0, 191, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0%;
    background: -webkit-linear-gradient(45deg, #ffd9f5, rgb(195, 240, 255));
  }
  
  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }
  
  .grid-container > * {
    justify-self: center;
  }

  .titlepage {
    max-width: 100%;
    height: auto;
  }
  
  /* Toggle Button */
  .toggle-container {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 10;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* Toggle button change */
  input:checked + .slider {
    background-color: #222;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Footer */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    font-size: 50%;
  }
  
  .rainbow {
    font-size: 150%;
    background: -webkit-linear-gradient(45deg, #ff7fdd, rgb(0, 191, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  /* Doc bookmarks */
  .doc-nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    font-size: 110%;
  }
  
  .doc-nav-links li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  }
  
  .doc-nav-links a {
    text-decoration: none;
    transition: color 0.5s;
  }

  .doc-nav-links li:hover {
    background: -webkit-linear-gradient(45deg, #ffa9e8, rgb(52, 204, 255));
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }

  /* Dark Mode */
  body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  
  .dark-mode nav {
    background-color: #222;
  }
  
  .dark-mode .nav-links a {
    color: #f0f0f0;
  }
  
  .dark-mode .doc-nav-links li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: rgb(27, 27, 27);
  }

  .dark-mode .doc-nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    font-size: 110%;
    background-color: rgb(27, 27, 27);
    text-decoration-color: #f0f0f0;
  }

  .dark-mode aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    height: 20%;
    overflow-y: auto; /* Add this line */
    background-color: rgb(27, 27, 27);
    border-style:outset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  }

  .dark-mode .doc-nav-links a {
    text-decoration: none;
    color: #f0f0f0;
    transition: color 0.5s;
  }

  .dark-mode a{
    color: #5cfcff;
  }

  .dark-mode .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0%;
    background: -webkit-linear-gradient(45deg, #101010, rgb(12, 12, 12));
  }

  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }